<div class="flexrow-example-container">

  <div class="example-description">
    The color system is based on a <span class="code-in-view">semantic</span> color scheme . You can set 5 or more colors to define your own scheme .
    You can also choose how name your colors .
    Each color pass thru a Sass processor to generate a 7 palette shade base on the color . For example the shade palette : <span class="code-in-view">Base shades</span> become available for the base color <span class="code-in-view">Base</span>.
    You can also customize the Sass processor to generate more or less variants .
    All parameters are available via sass variables.
    <div class="enjoy-in-view">Enjoy</div>
  </div>


  <div class="example-inhead">
    <h4>Base shades</h4>
    <%= render "svg/chevronright", size_class: "md", rotate: false %>
  </div>

  <div class="example-flexrow-container">
    <div class="circle-gray-1"></div>
    <div class="separator"></div>
    <div class="circle-gray-2"></div>
    <div class="separator"></div>
    <div class="circle-gray-3"></div>
    <div class="separator"></div>
    <div class="circle-gray-4"></div>
    <div class="separator"></div>
    <div class="circle-gray-5"></div>
    <div class="separator"></div>
    <div class="circle-gray-6"></div>
  </div>



  <div class="example-inhead">
    <h4>Danger shades</h4>
    <%= render "svg/chevronright", size_class: "md", rotate: false %>
  </div>

  <div class="example-flexrow-container">
    <div class="circle-red-1"></div>
    <div class="separator"></div>
    <div class="circle-red-2"></div>
    <div class="separator"></div>
    <div class="circle-red-3"></div>
    <div class="separator"></div>
    <div class="circle-red-4"></div>
    <div class="separator"></div>
    <div class="circle-red-5"></div>
    <div class="separator"></div>
    <div class="circle-red-6"></div>
  </div>



  <div class="example-inhead">
    <h4>Warning shades</h4>
    <%= render "svg/chevronright", size_class: "md", rotate: false %>
  </div>

  <div class="example-flexrow-container">
    <div class="circle-orange-1"></div>
    <div class="separator"></div>
    <div class="circle-orange-2"></div>
    <div class="separator"></div>
    <div class="circle-orange-3"></div>
    <div class="separator"></div>
    <div class="circle-orange-4"></div>
    <div class="separator"></div>
    <div class="circle-orange-5"></div>
    <div class="separator"></div>
    <div class="circle-orange-6"></div>
  </div>


  <div class="example-inhead">
    <h4>Info shades</h4>
    <%= render "svg/chevronright", size_class: "md", rotate: false %>
  </div>

  <div class="example-flexrow-container">
    <div class="circle-yellow-1"></div>
    <div class="separator"></div>
    <div class="circle-yellow-2"></div>
    <div class="separator"></div>
    <div class="circle-yellow-3"></div>
    <div class="separator"></div>
    <div class="circle-yellow-4"></div>
    <div class="separator"></div>
    <div class="circle-yellow-5"></div>
    <div class="separator"></div>
    <div class="circle-yellow-6"></div>
  </div>



  <div class="example-inhead">
    <h4>Success shades</h4>
    <%= render "svg/chevronright", size_class: "md", rotate: false %>
  </div>

  <div class="example-flexrow-container">
    <div class="circle-green-1"></div>
    <div class="separator"></div>
    <div class="circle-green-2"></div>
    <div class="separator"></div>
    <div class="circle-green-3"></div>
    <div class="separator"></div>
    <div class="circle-green-4"></div>
    <div class="separator"></div>
    <div class="circle-green-5"></div>
    <div class="separator"></div>
    <div class="circle-green-6"></div>
  </div>


  <div class="example-inhead">
    <h4>Primary shades</h4>
    <%= render "svg/chevronright", size_class: "md", rotate: false %>
  </div>

  <div class="example-flexrow-container">
    <div class="circle-blue-1"></div>
    <div class="separator"></div>
    <div class="circle-blue-2"></div>
    <div class="separator"></div>
    <div class="circle-blue-3"></div>
    <div class="separator"></div>
    <div class="circle-blue-4"></div>
    <div class="separator"></div>
    <div class="circle-blue-5"></div>
    <div class="separator"></div>
    <div class="circle-blue-6"></div>
  </div>

  <%= render "shared/examples/color_tree" %>

</div>



