<div class="banner">
  <div class="banner-content">
    <div class="item">
      <h1>Lighweight framework</h1>
    </div>
    <div class="item">
      <p>Some cool stuff here</p>
    </div>
    <div class="item">
      <%= link_to mobile_path do %>
        <div class="btn-primary">Mobile version</div>
      <% end %>
    </div>
  </div>
</div>




<%= render "shared/examples/position_viewer" %>

<div class="section white">
  <div class="sticky-header p-sti">

    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Buttons</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>


      <div class="item">
        <div class="scrollspy-listener-header" data-target="scroll-target-20">
          <h3>Classic</h3>
        </div>
      </div>
      <div class="item">
        <div class="scrollspy-listener-header" data-target="scroll-target-21">
          <h3>Fixed size</h3>
        </div>
      </div>
      <div class="item">
        <div class="scrollspy-listener-header" data-target="scroll-target-22">
          <h3>Bordered</h3>
        </div>
      </div>
      <div class="item">
        <div class="scrollspy-listener-header" data-target="scroll-target-23">
          <h3>Fullsize</h3>
        </div>
      </div>

    </div>

  </div>

  <div class="tabs-links start" data-target="buttons-tabs">
    <div class="tab-trigger active" data-target="buttons-examples">Examples</div>
    <div class="tab-trigger" data-target="buttons-code">Code</div>
    <div class="tab-trigger" data-target="buttons-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="buttons-tabs">
    <div class="tab-content active" id="buttons-examples">
      <%= render "shared/examples/buttons" %>
    </div>
    <div class="tab-content" id="buttons-code">
      <%= render "shared/code/buttons" %>
    </div>
    <div class="tab-content" id="buttons-doc">
      <%= render "shared/code/buttons" %>
    </div>
  </div>
</div>



<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Grayscale</h3>

      <div class="dropdown-top">

        <div class="dropdown-trigger" data-target="header-drop-1">
          <%= render "svg/pluscircle", size_class: "lg", rotate: false %>
        </div>

        <div class="dropdown-menu center" id="header-drop-1">
          <div class="tabs-links center noheight" data-target="grayscale-tabs">
            <div class="tab-trigger active example-active-tab" data-target="grayscale-examples">
              <%= render "svg/example", size_class: "xl", rotate: false %>
            </div>
            <div class="tab-trigger example-active-tab" data-target="grayscale-code">
              <%= render "svg/code", size_class: "xl", rotate: false %>
            </div>
            <div class="tab-trigger example-active-tab" data-target="grayscale-doc">
              <%= render "svg/documentation", size_class: "xl", rotate: false %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>



  <div class="tabs-container" id="grayscale-tabs">
    <div class="tab-content active" id="grayscale-examples">
      <%= render "shared/examples/grayscale" %>
    </div>
    <div class="tab-content" id="grayscale-code">
      <%= render "shared/code/grayscale" %>
    </div>
    <div class="tab-content" id="grayscale-doc">
      <%= render "shared/examples/grayscale" %>
    </div>
  </div>
</div>


<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Sidebars</h3>
    </div>
  </div>

  <div class="tabs-links start" data-target="sidebars-tabs">
    <div class="tab-trigger active" data-target="sidebars-examples">Examples</div>
    <div class="tab-trigger" data-target="sidebars-code">Code</div>
    <div class="tab-trigger" data-target="sidebars-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="sidebars-tabs">
    <div class="tab-content active" id="sidebars-examples">
      <%= render "shared/examples/sidebars" %>
    </div>
    <div class="tab-content" id="sidebars-code">
      <%= render "shared/code/sidebars" %>
    </div>
    <div class="tab-content" id="sidebars-doc">
      <%= render "shared/examples/sidebars" %>
    </div>
  </div>
</div>


<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Tabulations</h3>
    </div>
  </div>

  <div class="tabs-links start" data-target="tabulations-tabs">
    <div class="tab-trigger active" data-target="tabulations-examples">Examples</div>
    <div class="tab-trigger" data-target="tabulations-code">Code</div>
    <div class="tab-trigger" data-target="tabulations-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="tabulations-tabs">
    <div class="tab-content active" id="tabulations-examples">
      <%= render "shared/examples/tabulations" %>
    </div>
    <div class="tab-content" id="tabulations-code">
      <%= render "shared/code/tabulations" %>
    </div>
    <div class="tab-content" id="tabulations-doc">
      <%= render "shared/examples/tabulations" %>
    </div>
  </div>
</div>


<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Dropdowns</h3>
    </div>
  </div>

  <div class="tabs-links start" data-target="dropdowns-tabs">
    <div class="tab-trigger active" data-target="dropdowns-examples">Examples</div>
    <div class="tab-trigger" data-target="dropdowns-code">Code</div>
    <div class="tab-trigger" data-target="dropdowns-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="dropdowns-tabs">
    <div class="tab-content active" id="dropdowns-examples">
      <%= render "shared/examples/dropdowns" %>
    </div>
    <div class="tab-content" id="dropdowns-code">
      <%= render "shared/code/dropdowns" %>
    </div>
    <div class="tab-content" id="dropdowns-doc">
      <%= render "shared/examples/dropdowns" %>
    </div>
  </div>
</div>



<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Modals</h3>
    </div>
  </div>

  <div class="tabs-links start" data-target="modals-tabs">
    <div class="tab-trigger active" data-target="modals-examples">Examples</div>
    <div class="tab-trigger" data-target="modals-code">Code</div>
    <div class="tab-trigger" data-target="modals-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="modals-tabs">
    <div class="tab-content active" id="modals-examples">
      <%= render "shared/examples/modals" %>
    </div>
    <div class="tab-content" id="modals-code">
      <%= render "shared/code/modals" %>
    </div>
    <div class="tab-content" id="modals-doc">
      <%= render "shared/examples/modals" %>
    </div>
  </div>
</div>






<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Search filter</h3>
    </div>
  </div>

  <div class="tabs-links start" data-target="searchfilter-tabs">
    <div class="tab-trigger active" data-target="searchfilter-examples">Examples</div>
    <div class="tab-trigger" data-target="searchfilter-code">Code</div>
    <div class="tab-trigger" data-target="searchfilter-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="searchfilter-tabs">
    <div class="tab-content active" id="searchfilter-examples">
      <%= render "shared/examples/search_filter" %>
    </div>
    <div class="tab-content" id="searchfilter-code">
      <%= render "shared/code/search_filter" %>
    </div>
    <div class="tab-content" id="searchfilter-doc">
      <%= render "shared/code/search_filter" %>
    </div>
  </div>
</div>







<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Scrollspys</h3>
    </div>
  </div>

  <div class="tabs-links start" data-target="scrollspys-tabs">
    <div class="tab-trigger active" data-target="scrollspys-examples">Examples</div>
    <div class="tab-trigger" data-target="scrollspys-code">Code</div>
    <div class="tab-trigger" data-target="scrollspys-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="scrollspys-tabs">
    <div class="tab-content active" id="scrollspys-examples">
      <%= render "shared/examples/scrollspys" %>
    </div>
    <div class="tab-content" id="scrollspys-code">
      <%= render "shared/code/scrollspys" %>
    </div>
    <div class="tab-content" id="scrollspys-doc">
      <%= render "shared/examples/scrollspys" %>
    </div>
  </div>
</div>



<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Carousels</h3>
    </div>
  </div>

  <div class="tabs-links start" data-target="carousels-tabs">
    <div class="tab-trigger active" data-target="carousels-examples">Examples</div>
    <div class="tab-trigger" data-target="carousels-code">Code</div>
    <div class="tab-trigger" data-target="carousels-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="carousels-tabs">
    <div class="tab-content active" id="carousels-examples">
      <%= render "shared/examples/carousels" %>
    </div>
    <div class="tab-content" id="carousels-code">
      <%= render "shared/code/carousels" %>
    </div>
    <div class="tab-content" id="carousels-doc">
      <%= render "shared/examples/carousels" %>
    </div>
  </div>
</div>









<div class="sidebar-left" id="sidebar-home">
  <div class="header">
    <h3 class="text-shade-1">Sidebar header</h3>
    <div class="sidebar-close"><div class="close-icon"></div></div>
  </div>
</div>

<div class="sidebar-right" id="sidebar-test">
  <div class="header">
    <h3 class="text-shade-1">Sidebar header</h3>
    <div class="sidebar-close"><div class="close-icon"></div></div>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>

