<div class="banner">
  <div class="banner-content">
    <div class="item">
      <h1>Custom library</h1>
    </div>
    <div class="item">
      <p>Full ES6 support - No dependencies</p>
    </div>
  </div>
</div>




<%= render "shared/examples/position_viewer" %>

<div class="section white">
  <div class="sticky-header p-sti">

    <div class="navigation">
      <div class="added-on d-hidden-xs">
        <div class="title">Added on</div>
        <div class="content">13.10.17</div>
      </div>
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Buttons</h3>

      <div class="dropdown-top">

        <div class="dropdown-trigger" data-target="header-drop-1">
          <%= render "svg/pluscircle", size_class: "lg", rotate: false %>
        </div>

        <div class="dropdown-menu right" id="header-drop-1">
          <div class="tabs-links center noheight" data-target="buttons-tabs">
            <div class="tab-trigger active example-active-tab" data-target="buttons-examples">
              <%= render "svg/example", size_class: "xl", rotate: false %>
            </div>
            <div class="tab-trigger example-active-tab" data-target="buttons-code">
              <%= render "svg/code", size_class: "xl", rotate: false %>
            </div>
            <div class="tab-trigger example-active-tab" data-target="buttons-doc">
              <%= render "svg/documentation", size_class: "xl", rotate: false %>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

  <div class="tabs-container" id="buttons-tabs">
    <div class="tab-content active" id="buttons-examples">
      <%= render "shared/examples/buttons" %>
    </div>
    <div class="tab-content" id="buttons-code">
      <%= render "shared/code/buttons" %>
    </div>
    <div class="tab-content" id="buttons-doc">
      <%= render "shared/code/buttons" %>
    </div>
  </div>

</div>



<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Color system</h3>

      <div class="dropdown-top">

        <div class="dropdown-trigger" data-target="header-drop-2">
          <%= render "svg/pluscircle", size_class: "lg", rotate: false %>
        </div>

        <div class="dropdown-menu right" id="header-drop-2">
          <div class="tabs-links center noheight" data-target="grayscale-tabs">
            <div class="tab-trigger active example-active-tab" data-target="grayscale-examples">
              <%= render "svg/example", size_class: "xl", rotate: false %>
            </div>
            <div class="tab-trigger example-active-tab" data-target="grayscale-code">
              <%= render "svg/code", size_class: "xl", rotate: false %>
            </div>
            <div class="tab-trigger example-active-tab" data-target="grayscale-doc">
              <%= render "svg/documentation", size_class: "xl", rotate: false %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="tabs-container" id="grayscale-tabs">
    <div class="tab-content active" id="grayscale-examples">
      <%= render "shared/examples/grayscale" %>
    </div>
    <div class="tab-content" id="grayscale-code">
      <%= render "shared/code/grayscale" %>
    </div>
    <div class="tab-content" id="grayscale-doc">
      <%= render "shared/examples/grayscale" %>
    </div>
  </div>

</div>








<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Responsive tools</h3>

      <div class="dropdown-top">

        <div class="dropdown-trigger" data-target="header-drop-20">
          <%= render "svg/pluscircle", size_class: "lg", rotate: false %>
        </div>

        <div class="dropdown-menu right" id="header-drop-20">
          <div class="tabs-links center noheight" data-target="responsive-tools-tabs">
            <div class="tab-trigger active example-active-tab" data-target="responsive-tools-examples">
              <%= render "svg/example", size_class: "xl", rotate: false %>
            </div>
            <div class="tab-trigger example-active-tab" data-target="responsive-tools-code">
              <%= render "svg/code", size_class: "xl", rotate: false %>
            </div>
            <div class="tab-trigger example-active-tab" data-target="responsive-tools-doc">
              <%= render "svg/documentation", size_class: "xl", rotate: false %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="tabs-container" id="responsive-tools-tabs">
    <div class="tab-content active" id="responsive-tools-examples">
      <%= render "shared/examples/responsive_tools" %>
    </div>
    <div class="tab-content" id="responsive-tools-code">
      <%= render "shared/code/responsive_tools" %>
    </div>
    <div class="tab-content" id="responsive-tools-doc">
      <%= render "shared/examples/responsive_tools" %>
    </div>
  </div>

</div>










<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Sidebars</h3>

      <div class="dropdown-top">

        <div class="dropdown-trigger" data-target="header-drop-3">
          <%= render "svg/pluscircle", size_class: "lg", rotate: false %>
        </div>

        <div class="dropdown-menu right" id="header-drop-3">
          <div class="tabs-links center noheight" data-target="sidebars-tabs">
            <div class="tab-trigger active example-active-tab" data-target="sidebars-examples">
              <%= render "svg/example", size_class: "xl", rotate: false %>
            </div>
            <div class="tab-trigger example-active-tab" data-target="sidebars-code">
              <%= render "svg/code", size_class: "xl", rotate: false %>
            </div>
            <div class="tab-trigger example-active-tab" data-target="sidebars-doc">
              <%= render "svg/documentation", size_class: "xl", rotate: false %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="tabs-container" id="sidebars-tabs">
    <div class="tab-content active" id="sidebars-examples">
      <%= render "shared/examples/sidebars" %>
    </div>
    <div class="tab-content" id="sidebars-code">
      <%= render "shared/code/sidebars" %>
    </div>
    <div class="tab-content" id="sidebars-doc">
      <%= render "shared/code/sidebars" %>
    </div>
  </div>
</div>


<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Tabulations</h3>

      <div class="dropdown-top">

        <div class="dropdown-trigger" data-target="header-drop-4">
          <%= render "svg/pluscircle", size_class: "lg", rotate: false %>
        </div>

        <div class="dropdown-menu right" id="header-drop-4">
          <div class="tabs-links center noheight" data-target="tabulations-tabs">
            <div class="tab-trigger active example-active-tab" data-target="tabulations-examples">
              <%= render "svg/example", size_class: "xl", rotate: false %>
            </div>
            <div class="tab-trigger example-active-tab" data-target="tabulations-code">
              <%= render "svg/code", size_class: "xl", rotate: false %>
            </div>
            <div class="tab-trigger example-active-tab" data-target="tabulations-doc">
              <%= render "svg/documentation", size_class: "xl", rotate: false %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="tabs-container" id="tabulations-tabs">
    <div class="tab-content active" id="tabulations-examples">
      <%= render "shared/examples/tabulations" %>
    </div>
    <div class="tab-content" id="tabulations-code">
      <%= render "shared/code/tabulations" %>
    </div>
    <div class="tab-content" id="tabulations-doc">
      <%= render "shared/code/tabulations" %>
    </div>
  </div>
</div>


<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <div class="text-shade-6">Components</div>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <div class="text-blue-0">Dropdowns</div>
    </div>
  </div>


    <div class="tabs-links start" data-target="dropdowns-tabs">
      <div class="tab-trigger active" data-target="dropdowns-examples">Examples</div>
      <div class="tab-trigger" data-target="dropdowns-code">Code</div>

      <div class="tab-separator"></div>

      <div class="dropdown-top">
        <div class="dropdown-trigger" data-target="tab-drop-20">
          <div>Tools</div>
          <%= render "svg/chevrondown", size_class: "md", rotate: false %>
        </div>
        <div class="dropdown-menu right" id="tab-drop-20">
          <div class="dropdown-menu-header">Dropdown</div>
          <div class="dropdown-menu-item">Home</div>
          <div class="dropdown-menu-item">Dashboard</div>
          <div class="dropdown-menu-item">Inbox</div>
          <div class="dropdown-menu-item">Logout</div>
        </div>
      </div>

    </div>


  <div class="tabs-container" id="dropdowns-tabs">
    <div class="tab-content active" id="dropdowns-examples">
      <%= render "shared/examples/dropdowns" %>
    </div>
    <div class="tab-content" id="dropdowns-code">
      <%= render "shared/code/dropdowns" %>
    </div>
  </div>
</div>



<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <div class="text-shade-6">Components</div>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <div class="text-blue-0">Modals</div>
    </div>
  </div>

  <div class="tabs-links start" data-target="modals-tabs">
    <div class="tab-trigger active" data-target="modals-examples">Examples</div>
    <div class="tab-trigger" data-target="modals-code">Code</div>
    <div class="tab-trigger" data-target="modals-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="modals-tabs">
    <div class="tab-content active" id="modals-examples">
      <%= render "shared/examples/modals" %>
    </div>
    <div class="tab-content" id="modals-code">
      <%= render "shared/code/modals" %>
    </div>
    <div class="tab-content" id="modals-doc">
      <%= render "shared/examples/modals" %>
    </div>
  </div>
</div>






<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Search filter</h3>
    </div>
  </div>

  <div class="tabs-links start" data-target="searchfilter-tabs">
    <div class="tab-trigger active" data-target="searchfilter-examples">Examples</div>
    <div class="tab-trigger" data-target="searchfilter-code">Code</div>
    <div class="tab-trigger" data-target="searchfilter-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="searchfilter-tabs">
    <div class="tab-content active" id="searchfilter-examples">
      <%= render "shared/examples/search_filter" %>
    </div>
    <div class="tab-content" id="searchfilter-code">
      <%= render "shared/code/search_filter" %>
    </div>
    <div class="tab-content" id="searchfilter-doc">
      <%= render "shared/code/search_filter" %>
    </div>
  </div>
</div>







<div class="section white" id="cst-1">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Scrollspys</h3>
    </div>
  </div>

  <div class="tabs-links start" data-target="scrollspys-tabs">
    <div class="tab-trigger active" data-target="scrollspys-examples">Examples</div>
    <div class="tab-trigger" data-target="scrollspys-code">Code</div>
    <div class="tab-trigger" data-target="scrollspys-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="scrollspys-tabs">
    <div class="tab-content active" id="scrollspys-examples">
      <%= render "shared/examples/scrollspys" %>
    </div>
    <div class="tab-content" id="scrollspys-code">
      <%= render "shared/code/scrollspys" %>
    </div>
    <div class="tab-content" id="scrollspys-doc">
      <%= render "shared/examples/scrollspys" %>
    </div>
  </div>
</div>



<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
      <h3 class="text-shade-1">Carousels</h3>
    </div>
  </div>

  <div class="tabs-links start" data-target="carousels-tabs">
    <div class="tab-trigger active" data-target="carousels-examples">Examples</div>
    <div class="tab-trigger" data-target="carousels-code">Code</div>
    <div class="tab-trigger" data-target="carousels-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="carousels-tabs">
    <div class="tab-content active" id="carousels-examples">
      <%= render "shared/examples/carousels" %>
    </div>
    <div class="tab-content" id="carousels-code">
      <%= render "shared/code/carousels" %>
    </div>
    <div class="tab-content" id="carousels-doc">
      <%= render "shared/examples/carousels" %>
    </div>
  </div>
</div>









<div class="sidebar-left" id="sidebar-home">
  <div class="header">
    <h3 class="text-shade-1">Sidebar header</h3>
    <div class="sidebar-close"><div class="close-icon"></div></div>
  </div>
</div>

<div class="sidebar-right" id="sidebar-test">
  <div class="header">
    <h3 class="text-shade-1">Sidebar header</h3>
    <div class="sidebar-close"><div class="close-icon"></div></div>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>

