
<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "shared/svg_icons/chevron_right" %>
      <h3 class="text-shade-1">Tooltips</h3>
    </div>
  </div>

  <div class="tabs-links start" data-target="tooltips-tabs">
    <div class="tab-trigger active" data-target="tooltips-examples">Examples</div>
    <div class="tab-trigger" data-target="tooltips-code">Code</div>
    <div class="tab-trigger" data-target="tooltips-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="tooltips-tabs">
    <div class="tab-content active" id="tooltips-examples">
      <%= render "shared/examples/tooltips" %>
    </div>
    <div class="tab-content" id="tooltips-code">
      <%= render "shared/code/tooltips" %>
    </div>
    <div class="tab-content" id="tooltips-doc">
      <%= render "shared/examples/tooltips" %>
    </div>
  </div>
</div>




<div class="section white">
  <div class="sticky-header p-sti">
    <div class="navigation">
      <h3 class="text-shade-6">Components</h3>
      <%= render "shared/svg_icons/chevron_right" %>
      <h3 class="text-shade-1">Inputs</h3>
    </div>
  </div>

  <div class="tabs-links start" data-target="inputs-tabs">
    <div class="tab-trigger active" data-target="inputs-examples">Examples</div>
    <div class="tab-trigger" data-target="inputs-code">Code</div>
    <div class="tab-trigger" data-target="inputs-doc">Documentation</div>
  </div>

  <div class="tabs-container" id="inputs-tabs">
    <div class="tab-content active" id="inputs-examples">
      <%= render "shared/examples/inputs" %>
    </div>
    <div class="tab-content" id="inputs-code">
      <%= render "shared/code/inputs" %>
    </div>
    <div class="tab-content" id="inputs-doc">
      <%= render "shared/examples/inputs" %>
    </div>
  </div>
</div>
